<footer id="sticky-footer" class="py-4 bg-dark text-white">
   <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Nick Simpson", "https://www.strava.com/athletes/6237648", class: "text-white" %></small>
  </div>
</footer>
